#navbar-drawer-toggle {
    display: none;
}
#navbar-menu-noDrawer{
    display: flex;
}
@media(max-width: 600px) {
    #navbar-drawer-toggle {
        display: flex;
    }
    #navbar-menu-noDrawer{
        display: none;
    }
}